{% extends 'base.html' %}

{% block title %}
{% endblock %}
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
</script>
{% block content %}
<div class ="row">
    <div class="col"></div>
    <div class = "col-6">
        <div class = "alert alert-primary" role = "alert">
        Please enter your login information</div>
    <form action = "" method = "post">
        {% csrf_token %}
        {{form.as_p}}
        <div class = 'row'>
            <div class = 'col-xs-6 col-sm-4'></div>
            <div class = 'col-xs-6 col-sm-4'>
                <input type = "submit" value = "login" class = "btn btn-outline-primary">
            </div>
            <div class = 'col-xs-6 col-sm-4'></div>
        </div>
    </form>
    </div>
<div class = "col"></div>
</div>
{% endblock %}