<!-- can build header and footer here.-->


<style>
div#header{
    background-color : #A9BCF5;
    position : fixed;
    width : 100%;
    top : 0;
    left : 0;
    height : 10rem;
	text-align: center;
	
}

div#search-box{
	display : inline-block;
	text-align: center;
	background-color: rgba(255,255,255,0);
	border: 2px solid white;
	border-radius: 20px;
	width : 40%;
	margin-top : 30px;
	background-color: white;
	
}

input#search{
	width: 80%;
	height: 50px;
	border-radius: 20px;
	border: 0px;
	vertical-align: middle;
}

button#search-icon{
	vertical-align: middle;
	width : 30px;
	height : 30px;
	border: 0px;
	background-color: rgba(255,255,255,0);
	
}

input#start_date, input#end_date{
	border-radius: 20px;
	border: 1px solid white;
}

div#contents{ 
	margin-top : 10px;
	position: fixed;
	top: 10rem; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	overflow: auto; 
}

div#root-recommend{
	width : 100%;
	margin-top : 10px;
	border: 2px solid #A9BCF5;
}

div#weather{
	width : 100%;
	margin-top : 10px;
	border: 2px solid #A9BCF5;
}

div#tour-recommend{
	width : 100%;
	margin-top : 10px;
	border: 2px solid #A9BCF5;
}

.card {
	display : inline-block;
	background: #fff;
	border-radius: 2px;
	display: inline-block;
	height: 100px;
	margin: 1rem;
	position: relative;
	width: 100px;
	text-align: center;
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

table{
	text-align: center; 
	padding-left: 20px;
}

tr, th, td {
  border-bottom: 1px solid #ddd;
  text-align: center;
}

tr:hover {background-color: #f5f5f5;}

a:link {
  text-decoration: none;
  color:black;
}

a:visited {
  text-decoration: none;
  color:gray;
}

a:hover {
  text-decoration: none;
  color:gray;
}

a:active {
  text-decoration: underline;
  color:blue;
}
</style>


<div class = 'col' align='top'>
it's header
<div class = 'row'></div>




</div>

<body>
 {% load static %}

<table>




<div class = 'row' align = 'bottom'>
it's footer
</div>
</body>
</html>