{% extends 'base.html' %}

{% block title %}    best
{% endblock %}

{% block content  %}
<div class='row'><br></div>
	<form action="recom/" method="post">{% csrf_token %}
	
	<div id='search-box'>
	{% if user.is_authenticated %}
		<button type = "submit"> 추천 여행지 보기 </button>
	{% else %}
		<div class = 'row'>
			<div class = 'row'></div>
		
		</div>
	{% endif %}
	</div>
	<br>
	
<form action="search/" method="post">{% csrf_token %}
	<div id='search-box'>
	{% if user.is_authenticated %}
		<input type="text" id='search' name='search' placeholder="검색어를 입력하세요." style="align:center">   
		<button type = "submit"> search </button>
	{% else %}
		<div class = 'row'>
			<div class = 'row'></div>
		</div>
	{% endif %}

	</div>
	<br>


	{% if user.is_authenticated %}
		<input type='date' id='start_date' name='start_date'/>
		&nbsp;&nbsp;&nbsp;~&nbsp;&nbsp;&nbsp;
		<input type='date' id='end_date' name='end_date'/>
		<br><br>
	{% else %}
		<input type = 'hidden' id = 'justforuser'>
		<br><br>
	 {% endif %}
	</form> 
</div>
<br>
<div class = "row">
	<div class = "col">
			<p>
	</div>
</div>
<div id='contents'>
	<!-- 날씨 -->
	<div id='weather'>
	{% if weather %}
		
		<span><b style="color: blue;">{{start}} ~ {{end}} 날씨  →</b> 
		{% for w in weather %}
			<b style="color: red;">{{w}} </b>/ 
		{% endfor %}
		</span>
	{% else %}
		<h4>날짜를 설정해야 날씨가 보입니다.</h4>
	{% endif %}
	</div>
	<br>
	
	<!-- 여행지 -->
	<div id='tour-recommend'>
	{% if tour %}
		<h3>여행지 추천</h3>
		{% for t in tour %}
			<div class="card card-3">
				{{t}}
			<input type = 'hidden' id = 'txtArea{{forloop.counter}}' value = '{{t}}'/>
			<button type = 'button' class="btn btn-outline-secondary" id = 'btn{{forloop.counter}}'>장르기반</button>
			<button type = 'button' class="btn btn-outline-secondary"  id = 'btn_{{forloop.counter}}'>장소기반</button>
			</div>
			<div id = 'showData{{forloop.counter}}'  style = 'text-align: left; padding-left: 20px;'></div>
		{% endfor %}
	{% else %}
		<h3>검색 결과가 없습니다.</h3>
	{% endif %}



{% endblock  %}